.container {
  display: block;
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
}
.top-section {
  background-color: #d0f1f5;
  padding: 5px 5px;
}
.parent-one {
  display: flex;
  justify-content: space-around;
}
.child-one {
    color: #002677;
  display: flex;
  width: max-content;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.child-two {
    color: #002677;
  width: max-content;
}

.top-section-two {
  background-color: white;
  padding: 5px 5px;
}
.parent-one {
  display: flex;
  justify-content: space-between;
}
.pchild-one {
  display: block;
}
.pchild-one img {
  height: 80px;
}
.pchild-two {
    color: #002677;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  align-items: center;
}
button {
  cursor: pointer;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 8px 18px;
  border-color: #002677;
  color: #002677;
}
li {
  list-style: none;
}
.top-section-three {
  background-color: #e7f8fa;
  padding: 5px 5px;
  margin: 0 auto;
}
.ptag {
    color: #002677;
  display: flex;
  justify-content: center;
  align-items: center;
}
